<a href="https://colab.research.google.com/github/Munindar123/Transportation_Assignment/blob/main/103117019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Problem Statment: Fit MLR model and interpret the modeling results

Importing pandas and matplotlib

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Displaying top 5 rows of Dataset**

In [2]:
df = pd.read_csv("/content/Tranport_Dataset.csv")
df.head()

   No. of trips per household per day*  ...  Income (in thousands)
0                                    4  ...                     40
1                                    4  ...                     50
2                                    4  ...                     70
3                                    4  ...                     55
4                                    2  ...                     40

[5 rows x 5 columns]

In [3]:
Roll_No = 19
df['No. of trips per household per day*'] = df['No. of trips per household per day*'] + Roll_No
df.head()

   No. of trips per household per day*  ...  Income (in thousands)
0                                   23  ...                     40
1                                   23  ...                     50
2                                   23  ...                     70
3                                   23  ...                     55
4                                   21  ...                     40

[5 rows x 5 columns]

In [4]:
x = df[['No. of working members'	,'No. of student members'	,'No. of motorized vehicle owned','Income (in thousands)']]
y = df['No. of trips per household per day*']
X = sm.add_constant(x)
output = sm.OLS(y,X).fit().summary()
print(output)

                                     OLS Regression Results
===============================================================================================
Dep. Variable:     No. of trips per household per day*   R-squared:                       0.712
Model:                                             OLS   Adj. R-squared:                  0.710
Method:                                  Least Squares   F-statistic:                     396.7
Date:                                 Sun, 11 Oct 2020   Prob (F-statistic):          9.38e-172
Time:                                         14:36:25   Log-Likelihood:                -677.08
No. Observations:                                  646   AIC:                             1364.
Df Residuals:                                      641   BIC:                             1387.
Df Model:                                            4
Covariance Type:                             nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             20.1532      0.074    270.849      0.000      20.007      20.299
No. of working members             0.9402      0.032     29.710      0.000       0.878       1.002
No. of student members             0.8196      0.027     30.103      0.000       0.766       0.873
No. of motorized vehicle owned     0.0311      0.021      1.489      0.137      -0.010       0.072
Income (in thousands)             -0.0021      0.001     -1.632      0.103      -0.005       0.000
==============================================================================
Omnibus:                      137.109   Durbin-Watson:                   1.917
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              341.941
Skew:                           1.088   Prob(JB):                     5.60e-75
Kurtosis:                       5.823   Cond. No.                         116.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.